body{
    background-color:rgba(8, 186, 186, 0.289) ;

}
h1 {
    text-align: center;
    padding: 80px 30px 50px;
}
button{
    text-align: center;
    padding: 30px 500px 30px;
    font-weight:bold;
    margin: 150px;

}
footer{
    text-align:center;
}
main{
    text-align: center;
}